:root {
    --color-light-bg-primary: #f0f0f0;
    --color-light-bg-secondary: #ffffff;
    --color-light-bg-tertiary: #d5d5d5;
    --color-light-text-primary: rgba(0, 0, 0, 0.75);
    --color-light-text-secondary: rgba(0, 0, 0, 0.60);
    --color-light-text-tertiary: rgba(0, 0, 0, 0.40);

    /* TEST - Dark mode  after fonts */
    --color-dark-bg-primary: #7d7b80;
    --color-dark-bg-secondary: #7f7f7f;
    --color-dark-bg-tertiary: #777777;
    --color-dark-text-primary: #ffffff;
    --color-dark-text-secondary: #bbbbbb;
    --color-dark-text-tertiary: #bbbbbb;

    --curve-radius: 5px;

    --font-size-larger: 1.25rem;
    --font-size-large: 1.15rem;
    --font-size-normal: 1.00rem;
    --font-size-small: 0.85rem;
    --font-size-smaller: 0.75rem;
}

html.light {
    --color-bg-primary: var(--color-light-bg-primary);
    --color-bg-secondary: var(--color-light-bg-secondary);
    --color-bg-tertiary: var(--color-light-bg-tertiary);
    --color-text-primary: var(--color-light-text-primary);
    --color-text-secondary: var(--color-light-text-secondary);
    --color-text-tertiary: var(--color-light-text-tertiary);
}

html.dark {
    --color-bg-primary: var(--color-dark-bg-primary: #ffffff);
    --color-bg-secondary: var(--color-dark-bg-secondary);
    --color-bg-tertiary: var(--color-dark-bg-tertiary);
    --color-text-primary: var(--color-dark-text-primary);
    --color-text-secondary: var(--color-dark-text-secondary);
    --color-text-tertiary: var(--color-dark-text-tertiary);
}

html {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-size: var(--font-size-normal);
}

/* Set basic relative font sizing. */
h1 {
    font-size: 2.00rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.50rem;
}

h4 {
    font-size: 1.25rem;
}

h1, h2, h3, h4,
p, span,
ul, ol {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0.5em;
    text-align: center;
}

.page-body {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
}

.nav {
    max-width: 20%;
    padding: 0.5em;

    border-right: 2px solid var(--color-text-tertiary);
}

.nav a.active {
    font-weight: bold;
}

.nav-items {
    display: flex;
    flex-direction: column;
    gap: 1.0em;
}

.nav a,
.breadcrumbs a {
    color: inherit;
    text-decoration: inherit;
    font-family: sans;
    font-weight: bold;
    font-size: var(--font-size-large);
}

.content-area {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    flex-grow: 1000;
}

.breadcrumbs {
    padding: 0.5em;
    border-bottom: 2px solid var(--color-text-tertiary);
}

.content {
    flex-grow: 1000;
    padding: 0.5em;
}

.content h2 {
    margin-bottom: 1em;
    text-align: center;
}

.content h3 {
    margin-bottom: 0.75em;
}

.soft-list {
    list-style-type: '\2014    ';
    list-style-position: inside;
    font-size: var(--font-size-large);
}

.soft-list li {
    line-height: 2em;
}

.submission table,
.submission-history table {
    margin-left: 2em;
}

.submission table th,
.submission table tr,
.submission-history table th,
.submission-history table tr {
    text-align: left;
    padding-right: 2em;
}

.submission-questions-area {
    margin-top: 2em;
}

.submission-questions {
    margin-left: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}
