:root {
    --color-light-bg-primary: #f0f0f0;
    --color-light-bg-secondary: #f5f5f5;
    --color-light-bg-tertiary: #ffffff;

    --color-light-bg-accent-primary: rgb(130, 130, 255);

    --color-light-text-primary: rgba(0, 0, 0, 0.90);
    --color-light-text-secondary: rgba(0, 0, 0, 0.70);
    --color-light-text-tertiary: rgba(0, 0, 0, 0.50);

    --color-light-text-link: rgba(40, 40, 255, 0.75);

    --color-light-text-primary-low: rgba(0, 0, 0, 0.45);
    --color-light-text-secondary-low: rgba(0, 0, 0, 0.35);
    --color-light-text-tertiary-low: rgba(0, 0, 0, 0.20);

    --color-dark-bg-primary: #303030;
    --color-dark-bg-secondary: #151515;
    --color-dark-bg-tertiary: #000000;

    --color-dark-text-primary: rgba(255, 255, 255, 0.90);
    --color-dark-text-secondary: rgba(255, 255, 255, 0.80);
    --color-dark-text-tertiary: rgba(255, 255, 255, 0.70);

    --color-dark-text-link: rgba(130, 130, 255, 0.85);

    --color-dark-text-primary-low: rgba(255, 255, 255, 0.45);
    --color-dark-text-secondary-low: rgba(255, 255, 255, 0.40);
    --color-dark-text-tertiary-low: rgba(255, 255, 255, 0.35);

    --color-dark-bg-accent-primary: rgb(130, 130, 255);

    --color-bg-shadow: #000000;

    --curve-radius: 5px;

    --font-size-larger: 1.25rem;
    --font-size-large: 1.15rem;
    --font-size-normal: 1.00rem;
    --font-size-small: 0.85rem;
    --font-size-smaller: 0.75rem;
}

/* Default to light colors. */
html {
    --color-bg-primary: var(--color-light-bg-primary);
    --color-bg-secondary: var(--color-light-bg-secondary);
    --color-bg-tertiary: var(--color-light-bg-tertiary);

    --color-bg-accent-primary: var(--color-light-bg-accent-primary);

    --color-text-primary: var(--color-light-text-primary);
    --color-text-secondary: var(--color-light-text-secondary);
    --color-text-tertiary: var(--color-light-text-tertiary);

    --color-text-link: var(--color-light-text-link);

    --color-text-primary-low: var(--color-light-text-primary-low);
    --color-text-secondary-low: var(--color-light-text-secondary-low);
    --color-text-tertiary-low: var(--color-light-text-tertiary-low);
}

/* Let system setting override default color scheme. */
@media (prefers-color-scheme: light) {
    html {
        --color-bg-primary: var(--color-light-bg-primary);
        --color-bg-secondary: var(--color-light-bg-secondary);
        --color-bg-tertiary: var(--color-light-bg-tertiary);

        --color-bg-accent-primary: var(--color-light-bg-accent-primary);

        --color-text-primary: var(--color-light-text-primary);
        --color-text-secondary: var(--color-light-text-secondary);
        --color-text-tertiary: var(--color-light-text-tertiary);

        --color-text-link: var(--color-light-text-link);

        --color-text-primary-low: var(--color-light-text-primary-low);
        --color-text-secondary-low: var(--color-light-text-secondary-low);
        --color-text-tertiary-low: var(--color-light-text-tertiary-low);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --color-bg-primary: var(--color-dark-bg-primary);
        --color-bg-secondary: var(--color-dark-bg-secondary);
        --color-bg-tertiary: var(--color-dark-bg-tertiary);

        --color-bg-accent-primary: var(--color-dark-bg-accent-primary);

        --color-text-primary: var(--color-dark-text-primary);
        --color-text-secondary: var(--color-dark-text-secondary);
        --color-text-tertiary: var(--color-dark-text-tertiary);

        --color-text-link: var(--color-dark-text-link);

        --color-text-primary-low: var(--color-dark-text-primary-low);
        --color-text-secondary-low: var(--color-dark-text-secondary-low);
        --color-text-tertiary-low: var(--color-dark-text-tertiary-low);
    }
}

/* Let explicit setting override system default. */
html.light {
    --color-bg-primary: var(--color-light-bg-primary);
    --color-bg-secondary: var(--color-light-bg-secondary);
    --color-bg-tertiary: var(--color-light-bg-tertiary);

    --color-bg-accent-primary: var(--color-light-bg-accent-primary);

    --color-text-primary: var(--color-light-text-primary);
    --color-text-secondary: var(--color-light-text-secondary);
    --color-text-tertiary: var(--color-light-text-tertiary);

    --color-text-link: var(--color-light-text-link);

    --color-text-primary-low: var(--color-light-text-primary-low);
    --color-text-secondary-low: var(--color-light-text-secondary-low);
    --color-text-tertiary-low: var(--color-light-text-tertiary-low);
}

html.dark {
    --color-bg-primary: var(--color-dark-bg-primary);
    --color-bg-secondary: var(--color-dark-bg-secondary);
    --color-bg-tertiary: var(--color-dark-bg-tertiary);

    --color-bg-accent-primary: var(--color-dark-bg-accent-primary);

    --color-text-primary: var(--color-dark-text-primary);
    --color-text-secondary: var(--color-dark-text-secondary);
    --color-text-tertiary: var(--color-dark-text-tertiary);

    --color-text-link: var(--color-dark-text-link);

    --color-text-primary-low: var(--color-dark-text-primary-low);
    --color-text-secondary-low: var(--color-dark-text-secondary-low);
    --color-text-tertiary-low: var(--color-dark-text-tertiary-low);
}

html.no-brightness-selection .dark-only,
html.no-brightness-selection .light-only,
html.light .dark-only,
html.dark .light-only {
    display: none;
}

html {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-size: var(--font-size-normal);
}

a {
    color: var(--color-text-link);
}

button,
input {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    border-width: medium;
    cursor: pointer;
}

button:disabled,
input:disabled {
    background-color: var(--color-bg-secondary-low);
    color: var(--color-text-secondary-low);
    cursor: no-drop;
}

button {
    border-radius: 5px;
}

/* Set basic relative font sizing. */
h1 {
    font-size: 2.00rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.50rem;
}

h4 {
    font-size: 1.25rem;
}

h1, h2, h3, h4,
p, span,
ul, ol {
    margin: 0;
    padding: 0;
}

fieldset {
    padding: 0;
    outline: none;
    border: none;
}

.loading-container {
    position: relative;
}

.loading-container .loading {
    z-index: 100;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #80808082;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin-top: 2em;
}

.loading-container .loading img {
    width: 50%;

    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.bright-mode-toggle {
    cursor: pointer;
    color: var(--color-text-primary-low);
}

.bright-mode-toggle span.active {
    font-weight: bold;
    text-decoration: underline;
    color: var(--color-text-primary);
}

.page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.header {
    padding: 0.5em;
    text-align: center;
    background-color: var(--color-bg-accent-primary);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header .nav {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    font-size: var(--font-size-large);
}

.header a {
    text-decoration: none;
    color: var(--color-text-primary);
}

.header .user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.header .user-info .current-user {
    font-size: var(--font-size-small);
    font-style: italic;
}

.footer {
    height: 1.5em;
    background-color: var(--color-bg-accent-primary);
    padding: 0.5em 1em 0.5em 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.footer div {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer div.right {
    justify-content: flex-end;
}

.footer img {
    height: 1.5em;
}

.page-body {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
}

.content-area {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    flex-grow: 1000;
}

.content {
    flex-grow: 1000;
    padding: 1.0em;
    border-radius: 10px;
}

.content h2 {
    margin-bottom: 1em;
    text-align: center;
}

.content h3 {
    margin-bottom: 0.75em;
}

.cards-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
    align-items: stretch;
}

.card {
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 10px;
    background-color: var(--color-bg-secondary);
    box-shadow: 2px 2px 1px var(--color-bg-shadow);
    font-size: var(--font-size-larger);
    text-align: center;

    outline: 5px solid var(--color-bg-accent-primary);
    outline-offset: -3px;
}

.card a {
    padding: 1.5em;
    text-decoration: none;
    color: var(--color-text-primary);
}

.page-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;

    font-size: var(--font-size-large);

    padding-bottom: 1em;
    border-bottom: 3px solid var(--color-text-secondary);
    margin-bottom: 1em;
}

.page-controls button {
    padding: 0.25em;
}

.submission table,
.submission-history table {
    margin-left: 2em;
}

.submission table th,
.submission table tr,
.submission-history table th,
.submission-history table tr {
    text-align: left;
    padding-right: 2em;
}

.submission-questions-area {
    margin-top: 2em;
}

.submission-questions {
    margin-left: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}
