:root {
    --color-light-bg-primary: #e7e7ff;
    --color-light-bg-secondary: #f3f3ff;
    --color-light-bg-tertiary: #ffffff;

    --color-light-bg-accent-primary: rgb(130, 130, 255);

    --color-light-text-primary: rgba(0, 0, 0, 0.90);
    --color-light-text-secondary: rgba(0, 0, 0, 0.70);
    --color-light-text-tertiary: rgba(0, 0, 0, 0.50);
    --color-light-text-accent: rgba(0, 0, 0, 0.90);

    --color-light-text-link: rgba(40, 40, 255, 0.75);

    --color-light-text-primary-low: rgba(0, 0, 0, 0.45);
    --color-light-text-secondary-low: rgba(0, 0, 0, 0.35);
    --color-light-text-tertiary-low: rgba(0, 0, 0, 0.20);
    --color-light-text-accent-low: rgba(0, 0, 0, 0.45);

    --color-dark-bg-primary: #303030;
    --color-dark-bg-secondary: #151515;
    --color-dark-bg-tertiary: #000000;

    --color-dark-text-primary: rgba(255, 255, 255, 0.90);
    --color-dark-text-secondary: rgba(255, 255, 255, 0.80);
    --color-dark-text-tertiary: rgba(255, 255, 255, 0.70);
    --color-dark-text-accent: rgba(255, 255, 255, 0.90);

    --color-dark-text-link: rgba(130, 130, 255, 0.85);

    --color-dark-text-primary-low: rgba(255, 255, 255, 0.45);
    --color-dark-text-secondary-low: rgba(255, 255, 255, 0.40);
    --color-dark-text-tertiary-low: rgba(255, 255, 255, 0.35);
    --color-dark-text-accent-low: rgba(255, 255, 255, 0.45);

    --color-dark-bg-accent-primary: rgb(130, 130, 255);

    --color-bg-shadow: #000000;
    --color-text-error: #f40055;

    --curve-radius-small: 10px;
    --curve-radius-large: 20px;

    --font-size-larger: 1.25rem;
    --font-size-large: 1.15rem;
    --font-size-normal: 1.00rem;
    --font-size-small: 0.85rem;
    --font-size-smaller: 0.75rem;

    --font-weight-normal: 450;
    --font-weight-bold: 650;
}

/* Default to light colors. */
html {
    --color-bg-primary: var(--color-light-bg-primary);
    --color-bg-secondary: var(--color-light-bg-secondary);
    --color-bg-tertiary: var(--color-light-bg-tertiary);

    --color-bg-accent-primary: var(--color-light-bg-accent-primary);

    --color-text-primary: var(--color-light-text-primary);
    --color-text-secondary: var(--color-light-text-secondary);
    --color-text-tertiary: var(--color-light-text-tertiary);

    --color-text-accent: var(--color-light-text-accent);
    --color-text-accent-low: var(--color-light-text-accent-low);

    --color-text-link: var(--color-light-text-link);

    --color-text-primary-low: var(--color-light-text-primary-low);
    --color-text-secondary-low: var(--color-light-text-secondary-low);
    --color-text-tertiary-low: var(--color-light-text-tertiary-low);
}

/* Let system setting override default color scheme. */
@media (prefers-color-scheme: light) {
    html {
        --color-bg-primary: var(--color-light-bg-primary);
        --color-bg-secondary: var(--color-light-bg-secondary);
        --color-bg-tertiary: var(--color-light-bg-tertiary);

        --color-bg-accent-primary: var(--color-light-bg-accent-primary);

        --color-text-primary: var(--color-light-text-primary);
        --color-text-secondary: var(--color-light-text-secondary);
        --color-text-tertiary: var(--color-light-text-tertiary);

        --color-text-accent: var(--color-light-text-accent);
        --color-text-accent-low: var(--color-light-text-accent-low);

        --color-text-link: var(--color-light-text-link);

        --color-text-primary-low: var(--color-light-text-primary-low);
        --color-text-secondary-low: var(--color-light-text-secondary-low);
        --color-text-tertiary-low: var(--color-light-text-tertiary-low);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --color-bg-primary: var(--color-dark-bg-primary);
        --color-bg-secondary: var(--color-dark-bg-secondary);
        --color-bg-tertiary: var(--color-dark-bg-tertiary);

        --color-bg-accent-primary: var(--color-dark-bg-accent-primary);

        --color-text-primary: var(--color-dark-text-primary);
        --color-text-secondary: var(--color-dark-text-secondary);
        --color-text-tertiary: var(--color-dark-text-tertiary);

        --color-text-accent: var(--color-dark-text-accent);
        --color-text-accent-low: var(--color-dark-text-accent-low);

        --color-text-link: var(--color-dark-text-link);

        --color-text-primary-low: var(--color-dark-text-primary-low);
        --color-text-secondary-low: var(--color-dark-text-secondary-low);
        --color-text-tertiary-low: var(--color-dark-text-tertiary-low);
    }
}

/* Let explicit setting override system default. */
html.light {
    --color-bg-primary: var(--color-light-bg-primary);
    --color-bg-secondary: var(--color-light-bg-secondary);
    --color-bg-tertiary: var(--color-light-bg-tertiary);

    --color-bg-accent-primary: var(--color-light-bg-accent-primary);

    --color-text-primary: var(--color-light-text-primary);
    --color-text-secondary: var(--color-light-text-secondary);
    --color-text-tertiary: var(--color-light-text-tertiary);

    --color-text-accent: var(--color-light-text-accent);
    --color-text-accent-low: var(--color-light-text-accent-low);

    --color-text-link: var(--color-light-text-link);

    --color-text-primary-low: var(--color-light-text-primary-low);
    --color-text-secondary-low: var(--color-light-text-secondary-low);
    --color-text-tertiary-low: var(--color-light-text-tertiary-low);
}

html.dark {
    --color-bg-primary: var(--color-dark-bg-primary);
    --color-bg-secondary: var(--color-dark-bg-secondary);
    --color-bg-tertiary: var(--color-dark-bg-tertiary);

    --color-bg-accent-primary: var(--color-dark-bg-accent-primary);

    --color-text-primary: var(--color-dark-text-primary);
    --color-text-secondary: var(--color-dark-text-secondary);
    --color-text-tertiary: var(--color-dark-text-tertiary);

    --color-text-accent: var(--color-dark-text-accent);
    --color-text-accent-low: var(--color-dark-text-accent-low);

    --color-text-link: var(--color-dark-text-link);

    --color-text-primary-low: var(--color-dark-text-primary-low);
    --color-text-secondary-low: var(--color-dark-text-secondary-low);
    --color-text-tertiary-low: var(--color-dark-text-tertiary-low);
}

html.no-brightness-selection .dark-only,
html.no-brightness-selection .light-only,
html.light .dark-only,
html.dark .light-only {
    display: none;
}

html {
    font-size: var(--font-size-normal);

    font-family: "Montserrat", Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-normal);
    font-style: normal;
}

.hidden {
    display: none;
}

.primary-color {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}

.primary-color-low {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary-low);
}

.secondary-color {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
}

.secondary-color a {
    color: var(--color-text-secondary);
}

.secondary-color-low {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary-low);
}

.secondary-color-low a {
    color: var(--color-text-secondary-low);
}

.tertiary-color {
    background-color: var(--color-bg-tertiary);
    color: var(--color-text-tertiary);
}

.tertiary-color a {
    color: var(--color-text-tertiary);
}

.tertiary-color-low {
    background-color: var(--color-bg-tertiary);
    color: var(--color-text-tertiary-low);
}

.tertiary-color-low a {
    color: var(--color-text-tertiary-low);
}

.accent-color {
    background-color: var(--color-bg-accent-primary);
    color: var(--color-text-accent);
}

.accent-color a {
    color: var(--color-text-accent);
}

.accent-color-low {
    background-color: var(--color-bg-accent-primary);
    color: var(--color-text-accent-low);
}

.accent-color-low a {
    color: var(--color-text-accent-low);
}

.drop-shadow {
    box-shadow: 2px 2px 1px var(--color-bg-shadow);
}

.required-color {
    color: var(--color-text-error);
}

a {
    color: var(--color-text-link);
}

button,
input,
select,
textarea {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);

    border-color: var(--color-text-secondary);
    border-width: medium;
    border-radius: var(--curve-radius-small);
    box-shadow: 2px 2px 1px var(--color-bg-shadow);

    cursor: pointer;
}

button:disabled,
input:disabled,
select:disabled {
    background-color: var(--color-bg-secondary-low);
    color: var(--color-text-secondary-low);
    border-color: var(--color-text-secondary-low);
    cursor: no-drop;
}

input {
    padding: 0.25em 0.5em;
}

button {
    padding: 0.5em 0.25em;
}

select {
    padding: 0.75em 1em;
}

input:invalid.touched {
    border-color: var(--color-text-error);
}

button:focus,
select:focus,
input:focus {
    accent-color: var(--color-bg-accent-primary);
    border-color: var(--color-bg-accent-primary);
}

input[type="checkbox"] {
    height: 1.25em;
    width: 1.25em;
}

/* Set basic relative font sizing. */
h1 {
    font-size: 2.00rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.50rem;
}

h4 {
    font-size: 1.25rem;
}

h1, h2, h3, h4,
p, span,
ul, ol {
    margin: 0;
    padding: 0;
}

.page p {
    margin-bottom: 1em;
}

.page ul,
.page ol {
    margin-left: 2em;
}

fieldset {
    padding: 0;
    outline: none;
    border: none;
}

.loading-container {
    position: relative;
}

.loading-container .loading {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin-top: 2em;
}

.loading-container .loading-modal {
    z-index: 100;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #80808082;
}

.loading-container .loading img {
    width: 50%;

    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.bright-mode-toggle {
    cursor: pointer;
    color: var(--color-text-accent-low);
}

.bright-mode-toggle span.active {
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
    color: var(--color-text-accent);
}

.page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.header {
    padding: 0.5em;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    flex-grow: 1;
    flex-basis: 0;
}

.header .page-title {
    font-style: italic;
}

.header .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    font-size: var(--font-size-large);
}

.header a {
    text-decoration: none;
}

.header .user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.header .user-info .current-user {
    font-size: var(--font-size-small);
    font-style: italic;
}

.footer {
    height: 1.5em;
    padding: 0.5em 1em 0.5em 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.footer div {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer div.right {
    justify-content: flex-end;
}

.footer img {
    height: 1.5em;
}

.page-body {
    flex-grow: 1;

    padding: 0.5em;
}

.content-area {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    flex-grow: 1000;
}

.content {
    flex-grow: 1000;
    padding: 1.0em;
    border-radius: var(--curve-radius-large);
}

.content h2 {
    margin-bottom: 1em;
    text-align: center;
}

.content h3 {
    margin-bottom: 0.75em;
}

.cards-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 2em;
    align-items: stretch;
}

.card {
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: var(--curve-radius-large);
    font-size: var(--font-size-larger);
    text-align: center;

    outline: 5px solid var(--color-bg-accent-primary);
    outline-offset: -3px;
}

.card a {
    padding: 1.5em;
    text-decoration: none;
}

.endpoint-page,
.email-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.endpoint-content,
.email-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: fit-content;
}

table.standard-table {
    border-collapse: collapse;
}

table.standard-table th,
table.standard-table tr:not(:last-child) {
    border-bottom: 1px solid var(--color-text-secondary);
}

.page-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 2em;

    font-size: var(--font-size-large);

    margin-bottom: 1em;
}

.page-controls select {
    max-width: 95vw;
}

.user-input-fields {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    max-width: 95vw;

    gap: 1em;
    padding: 1.5em;

    border-radius: var(--curve-radius-small);
}

.user-input-fields fieldset {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.user-input-fields fieldset > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.user-input-fields fieldset > div.checkbox-field {
    flex-direction: row;
    align-items: center;
}

.user-input-fields .input-field label {
    margin-bottom: 0.5em;
}

.user-input-fields .checkbox-field label {
    margin-bottom: 0em;
    margin-left: 0.5em;
}

.endpoint-content > div,
.email-content > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 95vw;

    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.endpoint-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.endpoint-input:empty {
    display: none;
}

.endpoint-input .endpoint-title {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    max-width: 95vw;
    overflow-x: auto;

    gap: 1em;
    padding: 1.5em;

    border-radius: var(--curve-radius-small);
}

.endpoint-input h2 {
    margin-bottom: 0em;
}

.endpoint-input button {
    padding: 0.5em 0.75em;
}

.results-area .result {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 1em;

    overflow-x: auto;
    padding: 1.5em;
    margin-bottom: 1em;

    border-radius: var(--curve-radius-small);
}

.submission table,
.submission-history table {
    margin-left: 2em;
}

.submission table th,
.submission table tr,
.submission-history table th,
.submission-history table tr {
    text-align: left;
    padding-right: 2em;
}

.submission-questions-area {
    margin-top: 2em;
}

.submission-questions {
    margin-left: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.api-docs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
    text-align: center;
    overflow-y: auto;
    word-break: break-word;
}

.api-docs > div {
    width: 100%;
    max-width: 42%;
    height: 100%;
    padding: 1rem;
}

.api-docs .scrollable {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.api-docs .endpoint-details,
.api-docs .api-type-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.api-docs .endpoint-details > div,
.api-docs .api-type-details > div {
    flex: 1;
    max-width: 27rem;
}

.api-docs table {
    flex: 1;
    width: 100%;
}

.api-docs .endpoints,
.api-docs .api-types {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
